@import url(/assets/css/reset.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }
  :root body {
    margin: 0;
    font-size: 1.6rem; }
    :root body.no-scroll {
      height: 100%;
      overflow: hidden; }

body {
  background: #1f1f1f; }

html,
p,
a {
  font-family: 'Roboto', sans-serif; }

p {
  display: block;
  margin: 15px 0;
  line-height: 1.4; }

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff; }

h1 {
  font-size: 3.5rem;
  text-transform: uppercase; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.5rem; }

button,
.button {
  display: block;
  padding: 15px 32px;
  background: transparent;
  color: #999;
  border: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; }
  button:after,
  .button:after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear; }
    @media all and (max-width: 550px) {
      button:after,
      .button:after {
        height: 0;
        width: 0; } }
  button:hover:after,
  .button:hover:after {
    background: #3397DE; }
  button.active,
  .button.active {
    color: #fff; }
    @media all and (max-width: 550px) {
      button.active,
      .button.active {
        background: #3397DE;
        color: #fff; } }
    button.active:after,
    .button.active:after {
      background: #3397DE; }

.overlay-btn {
  background: transparent;
  border: 2px solid #888;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 32px;
  font-size: 1.5rem;
  letter-spacing: .5px;
  color: #888;
  text-transform: none;
  text-decoration: none; }
  .overlay-btn:after {
    display: none; }
  .overlay-btn:hover {
    color: #fff;
    border: 2px solid #fff;
    background: #3397DE; }

.container {
  padding: 50px 25px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.filters {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 2px solid #343434; }
  @media all and (max-width: 550px) {
    .filters {
      border-bottom: 0; } }
  .filters h1 {
    margin-bottom: 12px;
    display: block;
    width: 100%; }
  .filters .filter-btn {
    width: 25%; }
    @media all and (max-width: 550px) {
      .filters .filter-btn {
        width: 50%; } }

.grid-section {
  width: 100%; }
  .grid-section .grid-section__content {
    position: relative; }

.grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .grid .grid-item {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-bottom: 20px;
    display: none;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer; }
    .grid .grid-item .project-text {
      color: #fff;
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 3;
      transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear; }
      .grid .grid-item .project-text h2 {
        font-size: 2.2rem; }
    .grid .grid-item.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-animation: fadeIn;
      animation: fadeIn;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s; }
    .grid .grid-item:before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 80%;
      width: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
      background: -webkit-linear-gradient(bottom, #000, transparent);
      background: -o-linear-gradient(bottom, #000, transparent);
      background: linear-gradient(to top, #000, transparent);
      opacity: .95;
      z-index: 2;
      transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear; }
    .grid .grid-item:after {
      position: absolute;
      content: 'View info';
      color: #fff;
      bottom: 0;
      left: 10px;
      opacity: 0;
      -webkit-transform: translateY(100%) translate3d(0, 0, 0);
      transform: translateY(100%) translate3d(0, 0, 0);
      z-index: 4;
      transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear; }
    .grid .grid-item:hover:before {
      height: 100%;
      opacity: 1; }
    .grid .grid-item:hover:after {
      bottom: 10px;
      opacity: 1;
      -webkit-transform: translateY(0) translate3d(0, 0, 0);
      transform: translateY(0) translate3d(0, 0, 0); }
    .grid .grid-item:hover .project-text {
      bottom: 35px; }
  .grid .grid-top {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    .grid .grid-top .grid-item {
      max-width: 100%;
      height: 400px; }
      @media all and (max-width: 750px) {
        .grid .grid-top .grid-item {
          height: 350px; } }
      @media all and (max-width: 550px) {
        .grid .grid-top .grid-item {
          height: 250px; } }
  .grid .grid-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    .grid .grid-right .grid-item {
      max-width: 32%;
      height: 250px; }
      @media all and (max-width: 750px) {
        .grid .grid-right .grid-item {
          max-width: 48.5%; } }
      @media all and (max-width: 550px) {
        .grid .grid-right .grid-item {
          max-width: 100%; } }

.mywork-overlay {
  position: fixed;
  width: 380px;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: 50px 25px;
  right: auto;
  background: #000;
  border-right: 1px solid #8a8a8a;
  font-size: 14px;
  color: #fff;
  z-index: 1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateX(-100%) translate3d(0, 0, 0);
  transform: translateX(-100%) translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  z-index: 100; }
  @media all and (max-width: 550px) {
    .mywork-overlay {
      width: 100%; } }
  .mywork-overlay.active {
    height: 100%;
    z-index: 100;
    -webkit-transform: translateX(0) translate3d(0, 0, 0);
    transform: translateX(0) translate3d(0, 0, 0); }
    .mywork-overlay.active .closebtn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2rem;
      opacity: .75;
      font-family: 'Roboto', sans-serif;
      cursor: pointer; }
      .mywork-overlay.active .closebtn:hover {
        color: #3397DE;
        opacity: 1; }
  .mywork-overlay .overlay-image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center; }
  .mywork-overlay h1 {
    margin-bottom: 32px; }
  .mywork-overlay h3 {
    font-size: 2.5rem; }
  .mywork-overlay p {
    opacity: .75;
    font-weight: 300; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
